<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artisan</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/tachyons.min.css">
    {{!-- <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" /> --}}
    {{!-- <script src="https://kit.fontawesome.com/049b95a946.js" crossorigin="anonymous"></script> --}}
</head>

<body>
    <div class="result-header h3 p2">
        {{>resultSearchForm}}
    </div>
    <div class="result-label ph3 ph5-m ph6-l pv3 f5-s f5-ns">
        <p> <a href="/"> Home /</a><a href="javascript:history.go(-1)"> Search Results /</a> {{artisan.name}} </p>
    </div>
    <div class="ph6-l">
        <div class="horizontal-card bg-white mt4 mb4 pa3 br2 shadow-2">
            <div class="w-25-ns">
                <img src="/artisan/{{artisan.id}}/avatar" alt="Artisan Avatar" class="db br--top" width="200px" />
            </div>
            <div class="ph3 f5-l f5-m f6-ns">
                <p class="ttc ">{{artisan.name}}</p>
                <p>0{{artisan.phoneNumber}}</p>
                <p class="ttc">{{artisan.category}}</p>
                <p class="ttc">{{artisan.address}}, {{artisan.lga}}</p>
            </div>
            <div class="tr mb1 mr1">
                <button class="pa2 ph3-l">
                    <a href="tel:+234{{artisan.phoneNumber}}">Call this Artisan</a>
                </button>
            </div>
        </div>
    </div>
    <div class="ph6-l">
        <div class="bg-white mb4 artisan-location">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.685194015705!2d3.426487514784879!3d6.434466895344724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b9aa7ed571905%3A0x3d7d850142d42ef!2sANCHOR%20INSURANCE%20COMPANY%20LIMITED!5e0!3m2!1sen!2sng!4v1597951882856!5m2!1sen!2sng"
                width="600" height="450" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
    </div>
    <div class="ph6-l">
        <article class="mw5 mw6-ns br3 hidden ba b--black-10 mv4 w-80-s center-s w-80-m center-m">
            <h1 class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3-l ph3-m ph1-ns">
                Rate Artisan
            </h1>
            {{#each comments}}
            <div class="pa3 bt b--black-10">
                <p class="gray ttc">{{author}} </p>
                <p class="">{{body}}</p>
                <p>Rating: {{rating}}</p>
            </div>
            {{/each}}
            <div class="pa3 bt b--black-10">
                <form action="/artisan/{{artisan.id}}/comment" method="POST">
                    <input type="text" name="body" id="" placeholder="Write a Comment" class="fl w-75 mr2 pv2 ph1" />
                    <input type="submit" value="Post" class="comment fl w-20 pv2 ph3-m ph3-l ph1-ns" />
                    <label for="rating" class="mt2 mr2 mb2">Rate</label>
                    <input type="number" name="rating" id="rating" max="5" min="1" class="ma2 pa1" value="5" />
                </form>
            </div>
        </article>
    </div>
    {{>footer}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src="/js/utils.js"></script>
</body>

</html>